<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
        }
        .font {
            font-size: 50vw; /* Skalira font prema veličini ekrana */
            color: #333;
        }
    </style>
</head>
<body>
<h1 class="font">404</h1>
</body>
</html>
